  #sukhum {
	   color: #fff;
     font-size: 20px;
	   border: 1px solid #000;
     left: 45%;
     top: 20%;
     display: inline-block;
     width: 100px;
     position: absolute;
     text-align: center;
     border-radius: 30px;
     background: -moz-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 11%, rgba(255,0,0,1) 24%, rgba(0,0,0,1) 100%); /* ff3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(11%, rgba(255,0,0,1)), color-stop(24%, rgba(255,0,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
background:-webkit-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 11%, rgba(255,0,0,1) 24%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
background: -o-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 11%, rgba(255,0,0,1) 24%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 11%, rgba(255,0,0,1) 24%, rgba(0,0,0,1) 100%); /* ie10+ */
background:radial-gradient(ellipse at center, rgba(255,0,0,1) 11%, rgba(255,0,0,1) 24%, rgba(0,0,0,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
}
#sukhum a {
     padding: 10px;
     display: inline-block;
     color: #fff;
         border-radius: 30px;
}

#sukhum a:hover {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%); /* ff3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(255,0,0,1))); /* safari4+,chrome */
background:-webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%); /* safari5.1+,chrome10+ */
background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%); /* opera 11.10+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%); /* ie10+ */
background:radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ff0000',GradientType=1 ); /* ie6-9 */
}
